body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 40px;
    padding: 10px;
}

h1{
    font-weight: 200;
    text-align: center;
    margin-top: 50px;
}

#lesArticles{
    display: flex;
    flex-wrap: wrap;
    
    margin-top: 50px;
    margin-left: 50px;
}
.box{
    border: 2px solid black;
    border-radius: 10px;
    margin: 10px 15px;
    width: 160px;
}
.box p{
    margin: 3px;
}
.box button{
    display: block;
    margin: 15px auto 10px auto;
    color: white;
    background-color: rgb(9, 155, 9);
    width: 100px;
    height: 30px;
    margin-top: 15px;
    margin-bottom: 10px;
    border: none;
    border-radius: 15px ;
}

.image img{
    border-top-right-radius: 10px ;
    border-top-left-radius: 10px ;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image{
    background-color: black;
    height: 150px;
    width: 100%;
}

#cart{
    position: fixed;
    bottom: 40px;
    right: 30px;
    background-color: rgb(255, 254, 254);
    border: 5px solid black;
    border-radius: 50px;
    padding: 20px 10px;
    
   
}
#cart:hover{
    background-color: black;
    color: white;
    transition: 0.2s;
}

h3{
   margin-top: 40px;
    text-align: center;
}

.cart-listS{
    display: flex;
    justify-content: center;
    border-top: 1px solid black;
}
.cart-listS button{
    height: 30px;
    width: 80px;
    margin-top: 10px;
    margin-left: 30px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 20px;
}
.cart-listS button:hover {
    background-color: rgb(238, 100, 100);
    transition: 0.2s;
}
.cart-listS:hover{
    background-color: rgb(164, 255, 164);
}

#bodyBack{
    display: flex;
    justify-content: center;
}
#backAdd{
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-top: 50px;
}

#backAdd input{
    height: 30px;
    border-radius: 10px;
}
#backAdd button{
    background-color: green;
    color: aliceblue;
    height: 30px;
    border-radius: 20px;
    margin-top: 20px;
}
#backAdd button:hover{
    background-color: rgb(50, 240, 50);
    transition: 0.2s;
}

.box2{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    border: 2px solid white;
    border-radius: 20px;
    width: 600px;
}
.box2 p{
    margin-left: 15px;
}
.box2 button{
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    background-color: red;
    color: white;
}
#dispo{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;

}